.ds-button {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
}

.ds-button:hover {
    background-color: #eeeeee;
}

.ds-button img {
    margin-left: 10px;
    margin-top: 9px; /* ([container-40h]-[image-22h]) / 2 = 9px */
    float: left;
}

.ds-button div {
    font-weight: 600;
    display: inline-block;
    text-align: left;
    width: 160px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}