.ds-button {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
}

.ds-button:hover {
    background-color: #eeeeee;
}

.ds-button img {
    margin-left: 0.8125rem;
}

.ds-button div {
    font-weight: 600;
    display: inline-block;
    text-align: left;
    margin-left: 0.8125rem;
    overflow: hidden; 
}